@tailwind base;
@tailwind components;
@tailwind utilities;


/* Form */

.field .input,
.field select {
  @apply block px-4 py-3 w-full appearance-none focus:outline-none bg-transparent;
}
.field.error > .relative {
  @apply border-red-300;
}
.field .input:focus-within ~ label,
.field .input:not(:placeholder-shown) ~ label,
.field select.active ~ label {
  @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;
}
.field .input:focus-within ~ label,
.field select:focus-within ~ label {
  @apply text-alpha;
}


/* Transition */

.page-right-enter-active,
.page-right-leave-active,
.page-left-enter-active,
.page-left-leave-active{
    transition: opacity .11s linear, transform .11s ease-in-out;
}

.page-right-enter-from,
.page-right-leave-to,
.page-left-enter-from,
.page-left-leave-to {
    opacity: 0;
}

.page-right-enter-from {
    transform: translateX(10%);
}

.page-right-leave-to {
    transform: translateX(-10%);
}

.page-left-enter-from {
    transform: translateX(-10%);
}

.page-left-leave-to {
    transform: translateX(10%);
}
